.top h1{
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}
.top p{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
}
.rating-2 {
    margin-left: 0;
}
.rating-3 {
    margin-left: 0;
}
.rating img {
    margin-right: 0;
}
.customer {
    justify-content: center;
}