@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    background-color: #fff;
    background-image: url("/images/bg-pattern-top-desktop.svg");
}

.container {
    width: 80%;
    margin: 0 auto;
}
.top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
.top h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #511f50;
}
.top p {
    font-size: 0.9rem;
}

.customer {
    display: flex;
    flex-wrap: wrap;
    background-color: #f7f2f8;
    padding: 0.7rem 1.5rem;
    margin-bottom: 0.8rem;
    font-size: 0.7rem;
    align-items: center;
    border-radius: 5px;
}

.ratings-img {
    margin-right: 1rem;
}

.rating-2 {
    margin-left:1rem ;
}
.rating-3 {
    margin-left: 2rem;
}

.bottom {
    margin-top: 50px;
}
.rating-box {
    display: flex;
    justify-content: space-between;
}
.box {
    width: 300px;
    height: 150px;
    background-color: #511f50;
    margin-right: 1rem;
    padding: 20px 15px;
    border-radius: 5px;

}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    width: 50px;
    height: auto;
    border-radius: 100%;
    margin-right: 1rem;
}

.profile h3{
    font-size: 0.7rem;
    color: #fff;
    margin-bottom: 3px;
}

.profile h5 {
    font-size: 0.5rem;
    color: #e6c6e6;
}
.review p {
    font-size: 0.7rem;
    color: #eee5ee;
    margin-top: 10px;
    font-weight: 500;
    line-height: 1.1rem;

}

.rating-box-2{
    margin-top: 1rem;
}

.rating-box-3 {
    margin-top: 2rem;
}

.bottom-ratings {
    background-image: url("//images/bg-pattern-bottom-desktop.svg");
}